<%- include('includes/header') %>
    <%- include('includes/nav') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8">
                    <h1 class="display-3 text-center my-4">Agenda</h1>
                    

                    <%- include('includes/messages') %>

                    <div class="card my-4">
                        <div class="card-header"><p class="text-center mb-lg-0 lead">Lista de contatos</p></div>
                        <div class="card-body table-responsive p-0">
                            <% if(contatos.length > 0) { %>
                            <table class="table table-hover">
                        
                            <!-- <table class="table table-hover my-3"> -->
                                <thead>
                                    <tr class="text-center">
                                        <th  scope="col">Nome</th>
                                        <th scope="col">Sobrenome</th>
                                        <th scope="col">Telefone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr class="table-light">
                                        <th scope="row" colspan="4">A</th>
                                    </tr> -->
                                    <% contatos.forEach(contato => { %>
                                        <tr class="text-center">
                                            <td scope="row"><%= contato.name %></td>
                                            <td><%= contato.lastName %></td>
                                            <td><%= contato.phone %></td>
                                            <td><%= contato.email %></td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="/contato/edit/<%= contato._id%>" class="btn btn-primary" type="button">Editar</a>
                                                    <a href="/contato/delete/<%= contato._id%>" class="btn btn-danger" type="button">Excluir</a>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        <% } else { %>
                            <div class="my-5 text-center">
                                <h2>Você ainda não possui contatos cadastrados</h2>
                                <p>Clique no botão abaixo para cadastrar um contato</p>
                                <a href="/contato/create" class=" text center btn btn-primary rounded-pill" type="button">Cadastrar</a>
                            </div>
                        <% } %>
                    </div>
                </div>
                    <% if(contatos.length > 0) { %>
                        <a href="/contato/create" class=" text center btn btn-primary rounded-pill" type="button">Cadastrar</a>
                    <% } %>
                </div>

                <div class="col-lg-2"></div>
            </div>
        </div>

        <%- include('includes/footer') %>